*{
  margin:0;
  padding:0;
}

html,body{
  height: 100%;
}
#root{
  height: 100%;
}
#container{
  display: flex;
  flex-direction: column;
  height: 100%;
}
#header{
  background: #fff;
  flex: 0 0 auto;
}
#main{
  background: orange;
  flex:1 0 auto;

  display: flex;
  justify-content: center;
  padding: 20px;
}

#footer{
  background: #999;
  flex: 0 0 auto;
}


.srHeader{
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.srHeader>h2{
  margin: 8px;
}

.HBox{
  display: flex;
}
.nav{
  background: papayawhip;
}
.navItem{
  margin: 4px 8px;
}
.titleBox{
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  align-items: center;
}
.logoutBtn{
  cursor: pointer;
  font-weight: bold;
}
.userInfo{
  display: flex;
}
.userInfo div{
  padding-left: 8px;
}